# Vim temporary files
.*.sw?

# Debian package build artifacts
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/vde-netemu
/debian/vde-netemu.debhelper.log
/debian/vde-netemu.substvars

# Other
/.pc
/vde-netemu
/vde-netemu.o
