stages:
    - build

variables:
    DEBIAN_FRONTEND: noninteractive
    DEBEMAIL: Marco Giusti <marco.giusti3@studio.unibo.it>

# vde-netemu changes rarely. Use a fixed version and change the building
# procedure once there is the need for it. Example of command to get the
# package version:
#
#   $ dpkg-parsechangelog | sed -rne 's/^Version: ([0-9.]+)[-+].*$$/\1/p'
.build-template: &build-deb
    stage: build
    before_script:
        - apt-get update
        - apt-get install -y build-essential debhelper devscripts libvdeplug-dev
        - export EPOCH="1:"
        - export NETEMU_VERSION=20130420
        - mkdir -p build/vde-netemu-"$NETEMU_VERSION"
        - cp -r debian/ Makefile vde-netemu.c build/vde-netemu-"$NETEMU_VERSION"
        - tar cvfz "build/vde-netemu_${NETEMU_VERSION}.orig.tar.gz" Makefile vde-netemu.c
        - cd build/vde-netemu-"$NETEMU_VERSION"
        - debchange --newversion "${EPOCH}${NETEMU_VERSION}-${DISTRIBUTION}1" "New upstream version"
        - debchange --release --distribution "${DISTRIBUTION}" ""
    script:
        # -b: Build the binary package only to avoid conflicts in the source
        #   package in different distributions.
        # -us: Do not sign the source package.
        # -uc: Do not sign the .buildinfo and .changes files.
        # -sd: Forces the exclusion of the original source and includes only the diff.
        - dpkg-buildpackage -b -us -uc -sa
    artifacts:
        paths:
            - build/*

# Debian 9, stretch, oldoldstable
debian-9:
    <<: *build-deb
    image: debian:stretch
    variables:
        DISTRIBUTION: stretch

# Debian 10, buster, oldstable
debian-10:
    <<: *build-deb
    image: debian:buster
    variables:
        DISTRIBUTION: buster

# Debian 11, bullseye, stable
debian-11:
    <<: *build-deb
    image: debian:bullseye
    variables:
        DISTRIBUTION: bullseye

# Debian testing, bookworm
debian-testing:
    <<: *build-deb
    image: debian:testing
    variables:
        DISTRIBUTION: bookworm

# Debian unstable, sid
debian-sid:
    <<: *build-deb
    image: debian:sid
    variables:
        DISTRIBUTION: sid

# Ubuntu 14.04 LTS, trusty
ubuntu-14.04:
    <<: *build-deb
    image: ubuntu:trusty
    variables:
        DISTRIBUTION: trusty

# Ubuntu 16.04 LTS, xenial
ubuntu-16.04:
    <<: *build-deb
    image: ubuntu:xenial
    variables:
        DISTRIBUTION: xenial

# Ubuntu 18.04 LTS, bionic
ubuntu-18.04:
    <<: *build-deb
    image: ubuntu:bionic
    variables:
        DISTRIBUTION: bionic

# Ubuntu 20.04 LTS, focal
ubuntu-20.04:
    <<: *build-deb
    image: ubuntu:focal
    variables:
        DISTRIBUTION: focal

# Ubuntu 21.04, hirsute
ubuntu-21.04:
    <<: *build-deb
    image: ubuntu:21.04
    variables:
        DISTRIBUTION: hirsute

# Ubuntu 21.10, impish
ubuntu-21.10:
    <<: *build-deb
    image: ubuntu:21.10
    variables:
        DISTRIBUTION: impish
