Package: vde-netemu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: vde2
Suggests: virtualbricks
Description: A fork of vde's wirefilter.
 vde-netemu is a replacement of wirefilter. It replace the binary with a
 patched version. Remove this package to restore the wirefilter original
 binary.
